content * {
    word-wrap: break-word;
}
header {
	background-color: red;
	padding: 50px;
	
}


.container{padding:100px 0;}

/* Content */

.foot {padding:20px 0;background-color: black;color:white;width:100%;}


footer {
  background-color: red;
}





img {
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-width: 95%;
    padding-inline-start: 40px;

}

.advantage-text {
    text-align: center;
    float: left;
    width: 30%;
    min-height: 220px;
    padding-left: 30px;
    padding-right: 100px;
    border: 15px solid green;
    margin: 40px;

}
.advantage-img {
     float: left;
    width: 30%;
    min-height: 220px;
    padding-left: 30px;
    padding-right: 100px;
    display: inline-block;
    
    margin: 0 0 0 3.06748466257669%;
    list-style: none;
}
/*li {
  display: inline-block;
  float: right;
  padding-right: 5px;
  padding: 14px 15px;
  text-align: center;
}*/
menu-item {
  background-color: white;
  float: right;
  padding-right: 5px;
  text-align: center;
  display: inline-block;


}

 .footer-menu { 
     text-align: center;
    float: left;
    width: 20%;
    min-height: 220px;
    padding-left: 20px;
    padding-right: 50px;
      background: #2b373a;
    margin: 40px;
    }
            .nolink {
   pointer-events: none;
   cursor: default;
}
a{
  float:right;
  padding-right: 5px;
  display: inline-block;
}