/**
 * @file
 * Bartik layout styling.
 */

/**
 * Container
 */
.layout-container {
  box-sizing: border-box;
  max-width: 860px;
  margin-right: auto;
  margin-left: auto;
}

@media all and (min-width: 851px) {
  .layout-container {
    max-width: 1290px;
  }
}

/**
 * Main
 */
 #topbar{background-color:black; padding:15px 0; font-size:.8rem; text-transform:uppercase; text-align:center; text-decoration-color:white;}

#topbar *{margin:0; padding:0; color:white;list-style:none;}
#topbar ul li{display:inline-block; margin-right:10px; padding-right:15px; border-right:1px solid;}
#topbar ul li:last-child{margin-right:0; padding-right:0; border-right:none;}
#topbar i{margin:0 5px 0 0; line-height:normal;}
#topbar a i{margin-right:0;}

#topbar ul li{border-color:rgba(255,255,255);}


.layout-main-wrapper {
  min-height: 200px;
  border-image-width: 100px;
  padding-bottom: 50px;

}
.section img {
max-width:100% !important;
}

.layout-main {
  margin-top: 20px;
  margin-bottom: 40px;
}
nav ul, nav ol{margin:0; padding:5px; list-style:none;}




.row2{color:#474747; background-color:rgba(255,255,255,.8);}
.wrapper{display:block; position:relative; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}
#mainav{background-color:grey; padding:15px 0; font-size:.8rem; text-transform:uppercase; text-align:center; text-decoration-color:white;}

#mainav *{margin:0; padding:2px; color:white;list-style:none;}
#mainav ul li{display:inline-block; margin-right:10px; padding-right:15px; border-right:1px solid;}
#mainav ul li:last-child{margin-right:0; padding-right:0; border-right:none;}
#mainav i{margin:0 5px 0 0; line-height:normal;}
#mainav a i{margin-right:0;}


#main-wrapper{color:#FFFFFF; background-color:inherit;}
#main-wrapper::after{color:inherit; background-color:rgba(0,0,0,.55);}
#main-wrapper{color:#474747;}
#main-wrapper::after{background-color:rgba(255,255,255,.8);}
#main-wrapper.coloured::{background-color:rgba(234,86,22,.55);}


.wrapper row1{display:block; position:relative; width:100%; margin:0; padding:10px; text-align:left; word-wrap:break-word;}
#header{
  padding:50px 0;
  color:white;
}

h1, h2, h3, h4, h5, h6, .header{margin:0 0 20px 0; font-size:5rem; line-height:normal; font-weight:400; text-transform:uppercase;}

address{font-style:normal; font-weight:normal;}
hr{display:block; width:100%; height:1px; border:solid; border-width:1px 0 0 0;}

.font-xs{font-size:.8rem;}
.font-x1{font-size:1.2rem;}
.font-x2{font-size:1.8rem;}
.font-x3{font-size:2.8rem;}

.wrapper{display:block; position:relative; width:100%; margin:0; padding:auto; text-align:left; word-wrap:break-word;}
/*
The "hoc" class is a generic class used to centre a containing element horizontally
It should be used in conjunction with a second class or ID
*/
.content{
  padding: 70px 0;
}
.content p{
  color:white;
}

.header .h1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;

}

.header .h3 {
    margin-bottom: 20px;
    font-size: 5rem;
    font-weight: 400;
    }
.content * {
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6, .heading {
    margin: 0 0 20px 0;
    font-size: 5rem;
    line-height: normal;
    font-weight: 400;
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6, .content {
    font-family: Georgia, "Times New Roman", Times, serif;
}
*, *::before, *::after {
    transition: all .28s ease-in-out;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
h3 {
    display: block;
    font-size: 5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold 400;
}
.content {
    padding: 150px 0;
    text-align: center;
}
.header h1 {
    color: #000000;
    background-color: inherit;
     font-size: 26px;
    font-weight: normal;

}
.wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: auto;
    text-align: left;
    word-wrap: break-word;
}

body {
    color: #A8A7A6;
    background-color: #0C0C0C;
}
body, input, textarea, select {
    font-family: Verdana, Geneva, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6em;
}

#footer .heading{color:#FFFFFF;}
#footer hr, #footer .borderedbox, #footer .linklist li{border-color:rgba(255,255,255,.1);}

#footer{}

  #copyright{}
  #copyright p:first-of-type{margin-bottom:10px;}


  #footer .heading {
    color: #FFFFFF;
}
#footer .heading {
    margin-bottom: 50px;
    font-size: 1.2rem;
}


.one_third {
    width: 31.28834355828221%;
}
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
    display: inline-block;
    float: left;
    margin: 0 0 0 3.06748466257669%;
    list-style: none;
}
*, *::before, *::after {
    transition: all .28s ease-in-out;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.row4 {
    color: #A8A7A6;
    background-color: #191A1E;
}
.wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}
body {
    color: #A8A7A6;
    background-color: #0C0C0C;
}
body, input, textarea, select {
    font-family: Verdana, Geneva, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6em;


 
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *::before, *::after {
    transition: all .28s ease-in-out;
}
*, *::before, *::after {
    box-sizing: border-box;
}
#image {
background: url('../images/01.png');
}
