
/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
  color: #000;
  background: none;
}
body.two-sidebars,
body.sidebar-first,
body.sidebar-second,
body {
  width: 640px;
}
#sidebar-first,
#sidebar-second,
.navigation,
#toolbar,
.site-footer,
.tabs,
.shortcut-action {
  display: none;
}
.one-sidebar .main-content,
.two-sidebars .main-content {
  width: 100%;
}
.featured-bottom {
  width: 960px;
  margin: 0;
  padding: 0;
  border: none;
}
.featured-bottom-first,
/*.featured-bottom-second,
.featured-bottom-third */{
  width: 250px;
}

/* ---------- Node Pages ---------- */

#comments .title,
#comments form,
.comment-forbidden {
  display: none;
}

.site-footer__bottom{
  text-decoration-color: black;
}

