{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{#
*  <div id="page-wrapper">
* <div id="page">
*  <div id="topbar" class="hoc clear"  > 
*    <ul>
*      <li><i class="fa fa-clock-o"></i> Mon. - Fri. 8am - 5pm</li>
*      <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
*      <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
*    </ul>
*   {{ page.topbar }}
*  </div>
*</div>
    
*<div class="wrapper row1">
*    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
*      <div class="section layout-container clearfix">
*      <h1><a href="page.html.twig" style="color:black;"> &nbsp;&nbsp;&nbsp;&nbsp;  DryWest  </a></h1>
*        {{ page.header }}
*      </div>
*    </header>
*  </div>
  



*<div class="wrapper row2">
*    <nav id="mainav" class="hoc clear"> 
*      {{ page.mainav }}
*      {{ page.secondary_menu }}
*    </nav>
*  </div>

*{% if page.banner is not empty %}
*<div class="bgded" style="background-image:url('{{ base_path ~ directory }}/images/demo/backgrounds/01.png');"> 
*<div class="wrapper overlay">
*{{ page.banner }}
*</div>
*</div>
*{% endif %}

*{% if page.sidebar %}
*<div class="sidebar">
*{{ page.sidebar }}
*</div>
*{% endif %}


*<div class="wrapper row3">
*  <main class="hoc container clear"> 
*  {% if page.content or  content_bottom  is not empty %}
*   <div class="content">
*      {{ page.content }}
*      </div>
      
*   {{ page.content_bottom }}
*   {% endif %}
*  </main>
*</div>


*<div class="wrapper bgded" style="background-image:url('{{ base_path ~ directory }}/images/demo/backgrounds/02.png');">
*  {{ page.content_bottomone }}
*</div>



*<div class="wrapper bgded overlay coloured" style="background-image:url('{{ base_path ~ directory }}/images/demo/backgrounds/03.png');">
  {{ page.content_bottomtwo}}
*</div>


*<div class="wrapper row3">
*  <section class="hoc container clear"> 
*    {{ page.content_below }}
*  </section>
*</div>


*{% if page.footer_above %}
*<div class="wrapper bgded overlay">
*<div class="hoc container testimonials clear"> 
 * {{ page.footer_above }}
*</div>
* </div>
*{% endif %}

*<div class="wrapper row3">
 * <section class="hoc container clear"> 
 * <div class="sectiontitle">
 *  {{ page.footer_aboveone }}
  
 
*   </div>
*  </section>
*</div>

*<div class="wrapper row4">
  
    
*    {{ page.footer }}
  
*</div>

* {% if page.copyright %}
*  <div class="wrapper row5">
*  {{ page.copyright }}
*</div>
*{% endif %}
*</div>
*</div>
#}




<div id="page-wrapper">

  
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
    

      <div class="section layout-container clearfix">
        {{ page.secondary_menu }}
        {{ page.header }}
        {{ page.primary_menu }}
      </div>
      
    </header>
     {% set highlighted = page.highlighted|render %}
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="layout-container section clearfix" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}
   
    <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
    {% set breadcrumb = page.breadcrumb|render %}
    {% if page.breadcrumb %}
      <div id="main" class="layout-main clearfix">
        {{ page.breadcrumb }}
        {% endif %}
        <main id="content" class="column main-content" role="main">
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
      </div>
    </div>
  </div>


